* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    //bg color
    --bgColor : rgb(33, 33, 33);
    --fillColor : rgb(39, 116, 39);


    //text Color
    --textColor : rgb(225, 223, 223);

    //padding

    --xs : 1rem;
    --sm : 2rem;
    --m : 5rem;
    --l : 6rem;
}

html, body {
    height: 100%;
    width: 100%;
}

main {
    height: 100%;
    width: 100%;

    section{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: var(--bgColor);
        color: var(--textColor);
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        padding: var(--sm);
        gap: 0.7rem;

        .infos{
            display: flex;
            justify-content: space-between;

            .info{
                border: 1px solid rgb(231, 231, 231,0.4);
                padding: 0.5rem 1rem;
               
            }
        }

        .board{
            flex-grow: 1;
            border: 1px solid rgb(231, 231, 231,0.4);
            display: grid;
            grid-template-columns: repeat(auto-fill,minmax(50px,1fr));
            grid-template-rows: repeat(auto-fill,minmax(50px,1fr));
        }
        
        .block{
            border: 1px solid rgb(231, 231, 231,0.4);
            // height: 30px;
            // width: 30px;
        }

        .fill{
            background-color: var(--fillColor);
        }
    }
}