* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: #222;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;
    align-items: center;

    #piano{
        display: flex;
        gap: 0.2rem;
        .node{
            background-color: white;
            color: black;
            height: 10rem   ;
            padding: 1rem 1rem;
            align-content: end;
            user-select: none;
            &:active{
                background-color: #c8c6c6;
            }
        }

        h2{
            font-size: 3rem;

            display: none;
        }
    }
}

