* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    
}

main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: coral;

    button{
        font-size: 1.5rem;
        padding: 0.5rem 1rem;
        cursor: pointer;
        
    }
}