* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}
main {
  height: 100%;
  width: 100%;
  background-color: #222;
  display: flex;
  align-items: center;
  padding: 2rem;
   gap: 1rem;  

  .card {
    display: flex;
    height: 420px;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem 0.5rem;
    width: 300px;
    border-radius: 1.5rem;
    background-color: rgb(255, 249, 249);
    box-shadow: 0 0 20px #888;
    flex-shrink: 1;
    transition: all linear 0.5s;


    &:hover{
        scale: 1.1;
    }

    h1 {
      text-transform: uppercase;
      color: #222;
    }

    h2 {
      text-transform: uppercase;
      white-space: nowrap;
      font-size: 1rem;
      opacity: 0.6;
    }
    p {
      text-align: center;
      opacity: 0.6;
    }

    ul {

      display: flex;
      gap: 0.5rem;
      flex-wrap: nowrap;
      li {
        list-style: none;
        padding: 0.5rem;
        background-color: rgb(102, 102, 102);
        border-radius: 0.5rem;
        color: white;
        cursor: pointer;
        font-size: 0.8rem;
        flex-shrink: 1;
        height: fit-content;
    
      }
    }

    img {
      height: 200px;
      width: 100%;
      object-fit: cover;
      border-radius: 1.5rem;
    }
  }
}
